@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <br>
    <h4><p style="color:#FF0000";>Sgundo Examen Parcial Administracion de Centros de Computo</p></h4>
    <h4>  Christian Alexande Nunez Lemus</h4>
    <h4>CARNET: 2015-NL-601</h4>
</div>
